html, body{width:100%;
           margin:0;
           background-color:#37353E;
           color:#D3DAD9;
}

/* *******************🟣 NAVBAR Bootstrap 🟣******************* /*/



/* *******************🟣 NAVBAR Bootstrap 🟣******************* /*/



